name: "Build"

on:
  push:
    branches:
      - main
      - fix/*
    paths-ignore:
      - '*.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Plugin Source Code
        uses: actions/checkout@v4
        with:
          path: "src"
          
      - name: Checkout Aliucord Dependencies
        uses: actions/checkout@v4
        with:
          repository: "Aliucord/Aliucord"
          ref: "main"
          path: "repo"
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          
          # CORRECTION FINALE : Supprime la variable d'environnement persistante.
          unset JAVA_HOME
          
          # Force Gradle à utiliser le JRE de GitHub Actions (JAVA_HOME_11_X64)
          ./gradlew make generateUpdaterJson --no-daemon -Dorg.gradle.java.home="$JAVA_HOME_11_X64"
          
          # Préparer le dossier pour les artefacts
          mkdir -p $GITHUB_WORKSPACE/artifacts
          cp **/build/*.zip $GITHUB_WORKSPACE/artifacts

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FakeBoost-Plugin-V1
          path: artifacts/
          retention-days: 7
