name: "Build"

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Ajouté pour s'assurer que l'action a les permissions nécessaires
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          path: "src"

      - name: Checkout Aliucord Dependencies
        uses: actions/checkout@v4
        with:
          repository: "Aliucord/Aliucord"
          ref: "master" # Assurez-vous d'utiliser la branche de dépendance stable
          path: "repo"
          
      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make generateUpdaterJson
          mkdir -p $GITHUB_WORKSPACE/artifacts
          cp **/build/*.zip $GITHUB_WORKSPACE/artifacts
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FakeBoost-Plugin-V1
          path: artifacts/
          retention-days: 7 
